<div style="float: right; height: 300px; width: 200px; padding: 2em; word-wrap: normal; background-color: pink">What a time to be alive! A long time ago, floats were the norm for layout. What a weird thing!</div>
<div style="float: left; height: 300px; width: 200px; padding: 2em; word-wrap: normal; background-color: pink">What a time to be alive! A long time ago, floats were the norm for layout. What a weird thing!</div>
<kendo-grid
  [height]="410"
  [data]="gridView"
  [pageSize]="gridState.take"
  [skip]="gridState.skip"
  [pageable]="true"
  [sortable]="{ allowUnsort: true, mode: 'single' }"
  [sort]="gridState.sort"
  [selectable]="gridSelectionSettings"
  [resizable]="true"
  filterable="menu"
  (dataStateChange)="dataStateChange($event)"
  class="grid content"
  appAutoResizer="thisGridInParticular"
  #myGrid
>
  <kendo-grid-column field="ProductID" title="ID" width="40"> </kendo-grid-column>
  <kendo-grid-column field="ProductName" title="Name" width="250"> </kendo-grid-column>
  <kendo-grid-column field="Category.CategoryName" title="Category"> </kendo-grid-column>
  <kendo-grid-column field="UnitPrice" title="Price" width="80"> </kendo-grid-column>
  <kendo-grid-column field="UnitsInStock" title="In stock" width="80"> </kendo-grid-column>
  <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
    <ng-template kendoGridCellTemplate let-dataItem>
      <input type="checkbox" [checked]="dataItem.Discontinued" disabled />
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
<span>H</span><span>E</span><span>L</span><span>L</span><span>O</span><span>&nbsp;&nbsp;&nbsp;&nbsp;display: inline content<br />tends to mess up calculations like these 😈</span>
<div style="display: none;">Can't see me!</div>
<div style="visibility: hidden;">I'm hidden visibility, look at me!</div>
<div class="hidden">Officially styled as hidden ;)</div>
