.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 1em;
}

.thing-to-resize {
  overflow-y: auto;
}

.content + .content {
  margin-top: 1em;
}

.sibling-content {
  background-color: darkgreen;
}

.controls {
  flex: 0 0 3em;
  padding-right: 1em;
}

.output {
  flex: 1 0 10em;
}
