.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 1em;
  background-color: deepskyblue;
}

.thing-to-resize {
  overflow-y: auto;
}

.content + .content {
  margin-top: 1em;
}

.sibling-content {
  background-color: darkgreen;
}

.controls {
  flex: 0 0 3em;
  padding: 1em;
  background-color: white;
}

.output {
  flex: 1 0 10em;
  background-color: gainsboro;
}

.grid {
  margin-bottom: 5px;
}

.grid-height-input {
  display: block;
}

.controls > * {
  margin-bottom: 1em;
}
