<div class="container">
  <div class="controls">
    <div style="text-align: right;">
      <input type="text" name="height" id="grid-height-input" [(ngModel)]="gridHeight" kendoTextBox style="display: block;" />
      <button (click)="setGridHeight()" style="margin-top: 0.5em;" kendoButton [primary]="true">Set Height</button>
    </div>
    <div style="text-align: right;">
      <button (click)="resize()" kendoButton>Resize</button>
      <br><br>
      <button (click)="resizeAll()" kendoButton>Resize All</button>
      <br><br>
      <button (click)="resizeWrongId()" kendoButton>Resize Wrong ID</button>
    </div>
  </div>
  <div class="output">
    <div class="sibling-content content">Causing trouble!</div>
    <kendo-grid
      [height]="410"
      [data]="gridView"
      [pageSize]="gridState.take"
      [skip]="gridState.skip"
      [pageable]="true"
      [sortable]="{ allowUnsort: true, mode: 'single' }"
      [sort]="gridState.sort"
      [selectable]="gridSelectionSettings"
      [resizable]="true"
      filterable="menu"
      (dataStateChange)="dataStateChange($event)"
      class="grid content"
      appAutoResizer="thisGridInParticular"
      #myGrid
    >
      <kendo-grid-column field="ProductID" title="ID" width="40"> </kendo-grid-column>
      <kendo-grid-column field="ProductName" title="Name" width="250"> </kendo-grid-column>
      <kendo-grid-column field="Category.CategoryName" title="Category"> </kendo-grid-column>
      <kendo-grid-column field="UnitPrice" title="Price" width="80"> </kendo-grid-column>
      <kendo-grid-column field="UnitsInStock" title="In stock" width="80"> </kendo-grid-column>
      <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
        <ng-template kendoGridCellTemplate let-dataItem>
          <input type="checkbox" [checked]="dataItem.Discontinued" disabled />
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
    <p class="sibling-content content">Hello, I'm some sibling content!</p>
    <div class="sibling-content content">Hello, I'm some sibling content!</div>
    <p class="sibling-content content">Hello, I'm some sibling content!</p>
    <p class="sibling-content content">Hello, I'm some sibling content!</p>
  </div>
</div>
