.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 1em;
  background-color: darkgoldenrod;
}

.container > * {
  flex-grow: 1;
  flex-shrink: 0;
}

.thing-to-resize {
  overflow-y: auto;
}

.content + .content {
  margin-top: 1em;
}

.sibling-content {
  background-color: darkgreen;
}
