<div class="container">
  <div class="controls">
    <div style="text-align: right;">
      <input type="text" name="height" id="grid-height-input" [(ngModel)]="gridHeight" kendoTextBox style="display: block;" />
      <button (click)="setGridHeight()" style="margin-top: 0.5em;" kendoButton [primary]="true">Set Height</button>
    </div>
    <div style="text-align: right;">
      <button (click)="resize()" kendoButton>Resize</button>
      <br><br>
      <button (click)="resizeAll()" kendoButton>Resize All</button>
      <br><br>
      <button (click)="resizeWrongId()" kendoButton>Resize Wrong ID</button>
    </div>
  </div>
  <div class="output">
    <app-content-above-grid class="content"></app-content-above-grid>
    <app-grid-to-resize class="content"></app-grid-to-resize>
    <app-content-below-grid class="content"></app-content-below-grid>
    <div style="display: none;">Can't see me!</div>
    <div style="visibility: hidden;">I'm hidden visibility, look at me!</div>
    <div class="hidden">Officially styled as hidden ;)</div>
  </div>
</div>
