<div class="container">
  <div>
    <button (click)="resize()">Resize</button>
  </div>
  <div>
    <div style="background-color: cadetblue;" #thingToResize class="thing-to-resize content">
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
    </div>
    <p class="sibling-content content">Hello, I'm some sibling content!</p>
    <p class="sibling-content content">Hello, I'm some sibling content!</p>
    <p class="sibling-content content">Hello, I'm some sibling content!</p>
    <p class="sibling-content content">Hello, I'm some sibling content!</p>
  </div>
</div>
